@import "variables";

body {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2.5rem 0 2.5rem 0;
  font-family: sans-serif;
  background-color: $background-color;
}

.header {
  position: relative;
  text-align: center;
  color: $header-color;
}

.header::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 5%;
  height: 6px;
  margin: 10px auto;
  background-color: $decoration-color;
}

.nav {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.button {
  background-color: transparent;
  border: 1px solid $decoration-color;
  border-radius: 10px;
  box-shadow: 1px 1px $decoration-color;
  color: $decoration-color;
  padding: 5px 10px;
  transition: 0.25s;
}

.button:hover {
  background-color: $decoration-color;
  color: white;
}

.button:active {
  box-shadow: -1px -1px $decoration-color;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  justify-items: center;
}

.card__image {
  float: left;
  margin-right: 1rem;
  border: 5px solid $decoration-color;
  border-radius: 10px;
}

.card__header {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  border-bottom: 1px dotted $text-color;
}

.card__header--header-color {
  color: $header-color;
  font-size: $header-font-size;
}

.card__header--decoration-color {
  color: $decoration-color;
  font-size: $header-font-size;
}

.card__description {
  color: $text-color;
  font-size: $description-font-size;
  font-weight: normal;
}

@media (max-width: 1000px) {
  .main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    row-gap: 2rem;
    justify-items: stretch;
  }
}
