@import "variables";
@import "mixins";

body {
  max-height: 1000px;
  margin: 0 auto;
  font-family: sans-serif, serif;
}

.header {
  text-align: center;
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 5%;
  height: 6px;
  margin: 10px auto;
  background-color: $brown;
}

.nav {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.button {
  background-color: transparent;
  border: 1px solid $brown;
  border-radius: 10px;
  box-shadow: 1px 1px $brown;
  color: $brown;
  padding: 5px 10px;
  transition: 0.25s;
}

.button:hover {
  background-color: $brown;
  color: white;
}

.button:active {
  box-shadow: -1px -1px $brown;
}
